# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=c8b0892b56aa606a6a116618bde07954
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> mongodb/mongodb ###
MONGODB_URL=mongodb://mongo:27017
MONGODB_DB=default
###< mongodb/mongodb ###

###> broadway/event-store-mongodb ###
BROADWAY_EVENT_STORE_MONGODB_URI=${MONGODB_URL}
BROADWAY_EVENT_STORE_MONGODB_DATABASE=${MONGODB_DB}
###< broadway/event-store-mongodb ###

###> broadway/read-model-mongodb ###
BROADWAY_READ_MODEL_MONGODB_URI=${MONGODB_URL}
BROADWAY_READ_MODEL_MONGODB_DATABASE=${MONGODB_DB}
###< broadway/read-model-mongodb ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN=^https?://localhost:?[0-9]*$
###< nelmio/cors-bundle ###
